{{!< layout}}
<header class="aui-page-header">
	<div class="aui-page-header-inner">
		<div class="aui-page-header-main intro-header">
			<h1>{{title}}</h1>
		</div>
	</div>
</header>
<div class="aui-page-panel main-panel">
	<div class="aui-page-panel-inner">
		<section class="aui-page-panel-item">
			<div class="aui-group">
				<div class="aui-item">
					<div class="aui-toolbar" role="toolbar">
						<div class="aui-toolbar-inner">
							<button disabled class="aui-button total-issues">Total Issues:
								<span class="aui-badge">{{data.length}}</span>
							</button>

							<a href="#dwarfers" aria-owns="dwarfers" aria-haspopup="true"
								class="aui-button aui-style-default aui-dropdown2-trigger">
								Projects
							</a>
							<div id="dwarfers" class="aui-style-default aui-dropdown2">
								<ul class="aui-list-truncate">
									{{#each projects as |item|}}
									<li><input type="checkbox" class="project-link" name={{item}}>{{item}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div class="wrapping-container">
						<div class="issues-container">
							{{#each data}}
							<div class="card">
								<h4 class="issue-key">
									<img class="isssue-type-avatar" src={{fields.issuetype.iconUrl}}></img>
									{{key}}
								</h4>
								<h5 class="issue-summary">{{fields.summary}}</h5>
								<h6>Last updated: {{DateFormatter fields.updated}} </h6>
								{{#if fields.assignee}}
								<div class="issue-data">
									<div>
										<img class="assignee-img" src={{fields.assignee.avatarUrls.16x16}} />
										<span>{{fields.assignee.displayName}}</span>
									</div>

									{{#each histories}}
									<span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-left"></span>
									<div>
										<img class="assignee-img" src={{avatars.16x16}} />
										<span>{{fromString}}</span>
									</div>
									{{/each}}
								</div>
								{{/if}}
							</div>
							{{/each}}
						</div>

						<div class="branches-container">
							Commits will be here
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<script>
	document.onreadystatechange = function () {
		if (document.readyState == "interactive") {

			let jwt_token = $('meta[name="token"]').attr('content');
			let projectKeys = [];

			function addChangeListener() {
				let elements = document.getElementsByClassName("project-link");
				for (let i = 0; i <= elements.length - 1; i++) {
					const current = elements[i]
					current.addEventListener('change', function (e) {
						if (e.target.checked && (projectKeys.findIndex(key => key == e.target.name) === -1)) {
							projectKeys.push(e.target.name);
							sendReq(projectKeys.toString());
						} else {
							const index = projectKeys.findIndex(key => key == e.target.name)
							projectKeys.splice(index, 1);
							sendReq(projectKeys.toString());
						}
					});
				}
			}

			function sendReq(projectkey) {
				if (projectKeys.length > 0) {
					console.log(projectkey)
					var XHR = new XMLHttpRequest();

					XHR.onreadystatechange = function () {
						if (XHR.readyState == 4) {
							if (XHR.status == 200) {
								$("body").html(XHR.responseText);
								addChangeListener();
								projectKeys = [];

							} else {
								console.log("There was a problem!!!");
							}
						}
					}

					XHR.open("GET", `headlines?projectKey=${projectkey}`);
					XHR.setRequestHeader("Authorization", `JWT ${jwt_token}`);
					XHR.send();

				}
			}
			addChangeListener();
		}
	}
</script>