{{!< layout}}
<header class="aui-page-header">
	<div class="aui-page-header-inner">
		<div class="aui-page-header-main intro-header">
			<h1>{{title}}</h1>
		</div>
	</div>
</header>

<div class="aui-page-panel main-panel">
	<div class="aui-page-panel-inner">
		<section class="aui-page-panel-item">
			<div class="aui-group">
				<div class="aui-item">
					<div>Total Issues: {{data.length}}</div>
					<div class="member-container">
						{{#each data}}
						<div class="card">
							<h4 class="issue-key">{{key}}</h4>
							<h5 class="issue-summary">{{fields.summary}}</h5>
							{{#if fields.assignee}}
							<div class="assigne-data">
								<img class="assignee-img" src={{fields.assignee.avatarUrls.16x16}} />
								<span>{{fields.assignee.displayName}}</span>
							</div>
							{{/if}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<style>
	.member-container {
		display: flex;
		flex-wrap: wrap;
	}

	.card {
		text-align: center;
		margin: 10px;
		width: 200px;
		box-shadow: 10px 10px 7px 0px #888888;
		border-radius: 3px;
	}

	.assignee-img {
		vertical-align: middle;
		width: 32px;
	}

	.issue-key {
		background: #0647a6;
		color: #DEEBFF;
		font-size: 16px;
		font-weight: normal;
		text-align: left;
		padding: 5px 10px;
	}

	.issue-summary {
		margin: 10px 0;
		    min-height: 2rem;
	}

	.assigne-data{
		padding: 10px;
	}
</style>