{{!< layout}}
<header class="aui-page-header">
	<div class="aui-page-header-inner">
		<div class="aui-page-header-main intro-header">
			<h1>{{title}}</h1>
		</div>
	</div>
</header>
<div class="aui-page-panel main-panel">
	<div class="aui-page-panel-inner">
		<section class="aui-page-panel-item">
			<div class="aui-group">
				<div class="aui-item">
					<div class="aui-toolbar" role="toolbar">
						<div class="aui-toolbar-inner">
							<button disabled class="aui-button total-issues">Total Issues:
								<span class="aui-badge">{{data.length}}</span>
							</button>

							<a href="#dwarfers" aria-owns="dwarfers" aria-haspopup="true"
								class="aui-button aui-style-default aui-dropdown2-trigger">
								Projects
							</a>
							<div id="dwarfers" class="aui-style-default aui-dropdown2">
								<ul class="aui-list-truncate">
									{{#each projects as |item|}}
									<li><input type="checkbox" class="project-link" name={{item}}>{{item}}</a></li>
									{{/each}}
								</ul>
							</div>

							<!-- Create a trigger which will be used by the JavaScript -->
							<button id="dialog-show-button" class="aui-button">Show dialog</button>

							<section id="credential-dialog" class="aui-dialog2 aui-dialog2-large aui-layer"
								role="dialog" aria-hidden="true">
								<header class="aui-dialog2-header">
									<!-- The dialog's title -->
									<h2 class="aui-dialog2-header-main">Please fill the form.</h2>
									<!-- Actions to render on the right of the header -->

									<!-- Close icon -->
									<a class="aui-dialog2-header-close">
										<span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
									</a>
								</header>
								<!-- Main dialog content -->
								<div class="aui-dialog2-content">
									<form class="aui">

										<div class="field-group">
											<label for="github-username">Username
												<span class="aui-icon icon-required">(required)</span>
											</label>
											<input class="text" type="text" id="github-username" name="github-username"
												placeholder="your github username">
											<div class="description">
												Please enter github username
											</div>
										</div>

										<div class="field-group">
											<label for="access-token">Access Token/Password
												<span class="aui-icon icon-required">(required)</span>
											</label>
											<input class="password" type="password" id="access-token"
												name="access-token" title="access-token">
											<div class="description">
												If you don't have an access token you can generate one from <a
													href="https://github.com/settings/tokens" target="_blank">here</a>.
											</div>
										</div>

										<div class="field-group">
											<label for="access-token">Repo Owner
												<span class="aui-icon icon-required">(required)</span>
											</label>
											<input class="text" type="text" id="repo-owner" name="repo-owner"
												placeholder="Name of the repo owner">
											<div class="description">
												Enter the name of the repo owner
											</div>
										</div>


										<div class="field-group">
											<label for="access-token">repo Name
												<span class="aui-icon icon-required">(required)</span>
											</label>
											<input class="text" type="text" id="repo-name" name="repo-name"
												placeholder="Name of the repo">
											<div class="description">
												Enter the name of the repo you want to add
											</div>
										</div>

										{{!-- <div class="buttons-container">
											<div class="buttons">
												<input class="button submit" type="submit" value="Save"
													id="comment-save-button">
												<a class="cancel" href="#">Cancel</a>
											</div>
										</div> --}}
									</form>
								</div>
								<!-- Dialog footer -->
								<footer class="aui-dialog2-footer">
									<!-- Actions to render on the right of the footer -->
									<div class="aui-dialog2-footer-actions">
										<button class="aui-button aui-button-primary">
											Add
										</button>
										<button id="dialog-close-button" class="aui-button aui-button-link">
											Close
										</button>
									</div>

									{{!-- <div class="aui-dialog2-footer-hint">This is a hint.</div> --}}
								</footer>
							</section>

						</div>
					</div>
					<div class="wrapping-container">
						<div class="issues-container">
							<div class="loader hide-loader">
								<svg class="circular" viewBox="25 25 50 50">
									<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
										stroke-miterlimit="10" />
								</svg>
							</div>

							{{#each data}}
							<div class="card">
								<h4 class="issue-key">
									<img class="isssue-type-avatar" src={{fields.issuetype.iconUrl}}></img>
									{{key}}
								</h4>
								<h5 class="issue-summary">{{fields.summary}}</h5>
								<h6>Last updated: {{DateFormatter fields.updated}} </h6>
								{{#if fields.assignee}}
								<div class="issue-data">
									<div>
										<img class="assignee-img" src={{fields.assignee.avatarUrls.16x16}} />
										<span>{{fields.assignee.displayName}}</span>
									</div>

									{{#each histories}}
									{{#if fromString}}
									<span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-left"></span>
									{{/if}}
									<div>
										{{#if avatars}}
										<img class="assignee-img" src={{avatars.16x16}} />
										{{/if}}
										{{#if fromString}}
										<span>{{fromString}}</span>
										{{/if}}
									</div>
									{{/each}}
								</div>
								{{/if}}
							</div>
							{{/each}}
						</div>

						<div class="branches-container">
							Commits will be here
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>